:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  background-color: black;
  color: gainsboro;
}

body {
  margin: 0;
  padding: 1rem;
  min-width: 320px;
  min-height: 100vh;
}

tr, table {
  border: 5px solid blue;
  padding: 10px;
  color: black;
}

td, th {
  border: 2px solid blue;
  padding: 7px;
}

table {
  background-color: black;
}

th {
  background-color: red;
}

td {
  background-color: green;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid green;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: cyan;
  cursor: pointer;
  transition: border-color 0.25s;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
